@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-brand-primary: #3467a5;
  --color-brand-secondary: #69a9de;
}

body {
  background: var(--background);
  color: var(--foreground);
}

body.font-en {
  font-family: var(--font-sans), sans-serif;
}

body.font-ar {
  font-family: var(--font-tajawal), sans-serif;
}

/* -- scrolling partners marquee -- */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
  display: flex;
  transition: animation-play-state 500ms ease-out;
  align-items: center;
}

.marquee-container:hover .animate-scroll {
  animation-play-state: paused;
}